@(userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@main("Herramientas", moreCss) {

    <!-- Render top navbar -->
    @staffnavbar(userName)

    <div class="container">

<h1>Ajustes</h1>
<p> Cambia tu contraseña </p>


        <div class="row col-md-9 col-md-offset-3">

         <div class="row bottom-buffer">   
         <div class="form-group">
            <div class="col-md-3">
              <label for="passwordp" class="control-label">Contraseña actual:</label>
            </div>
              <div class="col-md-4">
                <input type="password" class="form-control" id="passwordp">
              </div>
            </div>
        </div>

     <div class="row bottom-buffer">   
            <div class="form-group">
            <div class="col-md-3">
              <label for="password" class="control-label">Contraseña nueva:</label>
            </div>
              <div class="col-md-4">
                <input type="password" class="form-control" id="passwordn">
            </div>
         </div>
     </div>

         <div class="row bottom-buffer">       
            <div class="form-group">
            <div class="col-md-3">
              <label for="passworda" class="control-label">Reescribe la contraseña:</label>
            </div>
              <div class="col-md-4">
                <input type="password" class="form-control" id="passworda">
            </div>
        </div>
     </div>

<br>

<div class="col-md-offset-6"><button type="button" class="btn btn-primary">Cambiar Contraseña</button></div><br>
      


    </div>

  </div><!-- /.container -->
}


